@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
}
.searchBar {
    background: #ff512e;
    background: linear-gradient(64deg,rgba(255, 81, 46, 1) 0%, rgba(252, 176, 69, 1) 100%);
    padding: 1rem;
    font-size: 1.5rem;

    div {
        display: flex;
        justify-content: space-between;
        max-width: 1220px;
        margin: 0 auto;
        h1 {
            font-size: 3rem;
            font-weight: 900;
            text-align: center;
            color: #f5f5f5;
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 50px;
                height: auto;
                display: inline-block;
                background-color: black;
                border-radius: 50%;
                padding: 5px;
            }
        }
    }

    input {
        outline: 0;
        padding: 1rem;
        width: 300px;
        border-radius: 12px;
        border: none;
    }

    input:focus {
        outline: 2px solid #912727;
    }

    input::placeholder {
        color: #8a8a8a;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .searchBar {
        div {
            flex-direction: column;
            align-items: center;
        }

        input {
            width: 250px;
        }
    }
}

.loading {
    display: flex;
    background-color: #e5d1b7;
    width: 100dvw;
    height: 100dvh;
    color: #fff;
    justify-content: center;
    align-items: center;

    p {
        background-color: #574835;
        padding: 2rem;
        border-radius: 22px;
        font-size: 3rem;
    }
}

.productsListContainer {
    display: grid;
    max-width: 1220px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 3rem;

    div {
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

        h3 {
            font-size: 1.2rem;
        }

        p {
            color: #275191;
            font-size: 2rem;
            font-weight: 600;
            margin-top: 1rem;
        }
    }
}

.noProducts {
    font-size: 2rem;
    text-align: center;
}

.productDetails {
    h2 {
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    p.price {
        color: #0a7bc7;
        font-size: 2.3rem;
        font-weight: 700;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.8;
        margin-bottom: .5rem;
    }
}